<section id= "course-info-<%= @course.id %>">
  <p> Name: <%= @course.name %></p>
  <section id= "student-info-<%= @course.id %>">
    <p> Enrollment: <%= @course.students_by_grade_formatted %> </p>
  </section>
</section>
